URxvt.font: xft:DejaVu Sans Mono for Powerline:pixelsize=16
URxvt.letterSpace: -1
URxvt.scrollBar: false

URxvt.foreground:   #ffeefc
URxvt.background:   #141021
URxvt.cursorColor:  #c16772

! black
URxvt.color0:       #4f4858
URxvt.color8:       #545d67

! red
URxvt.color1:       #c05c47
URxvt.color9:       #c16772

! green
URxvt.color2:       #428e8e
URxvt.color10:      #afda6e

! yellow
URxvt.color3:       #e4b226
URxvt.color11:      #ebcf1a

! blue
URxvt.color4:       #4457a3
URxvt.color12:      #4880a5

! magenta
URxvt.color5:       #903a62
URxvt.color13:      #9568a1

! cyan
URxvt.color6:       #7aa1dc
URxvt.color14:      #abbcda

! white
URxvt.color7:       #c4b7c5
URxvt.color15:      #ffeefc

! colored man pages?
URxvt.colorIT:      #87af5f
URxvt.colorBD:      #d7d7d7
URxvt.colorUL:      #87afd7

URxvt.perl-ext-common: default,matcher,tabbedex,resize-font
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

URxvt.keysym.M-t: perl:tabbedex:new_tab

URxvt.tabbed.tabbar-fg:   244
URxvt.tabbed.tabbar-bg:   16
URxvt.tabbed.tab-fg:      255
URxvt.tabbed.tab-bg:      4
URxvt.tabbed.bell-tab-fg: 255
URxvt.tabbed.bell-tab-bg: 160
URxvt.tabbed.bell-fg:     244
URxvt.tabbed.bell-bg:     17
URxvt.tabbed.title-fg:    28
URxvt.tabbed.title-bg:    16

URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up
URxvt.iso14755: false
URxvt.iso14755_52: false

xterm*faceName: DejaVu Sans Mono for Powerline:size=12:antialias=true

! better font rendering
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

xterm*foreground:   #c5c8c6
xterm*background:   #1d1f21

! black
xterm*color0:       #282a2e
xterm*color8:       #373b41

! red
xterm*color1:       #a54242
xterm*color9:       #cc6666

! green
xterm*color2:       #8c9440
xterm*color10:      #b5bd68

! yellow
xterm*color3:       #de935f
xterm*color11:      #f0c674

! blue
xterm*color4:       #5f819d
xterm*color12:      #81a2be

! magenta
xterm*color5:       #85678f
xterm*color13:      #b294bb

! cyan
xterm*color6:       #5e8d87
xterm*color14:      #8abeb7

! white
xterm*color7:       #707880
xterm*color15:      #c5c8c6
